<div class="container p-1">
  <div class="grid grid-cols-3 header">
    <div class="h-14 w-14">
     <img src="./../assets/img/logo-1.png"> 
    </div>
    <h3 class="text-center">TIPO</h3>
    <div>
      <button class="w-24 p-2 my-1 rounded-lg bg-primary-neutral-600 text-headline-22">ACCESO</button>
      <button class="p-2 rounded-lg bg-primary-neutral-300 text-headline-22">REGISTRAR</button>
    </div>
  </div>
  <div class="describe">
    EN ESTA APP PUEDES ENCONTRAR OFERTAS DE TRABAJO EN LA LOCALIDAD DE FORMA RÁPIDA Y SEGURA
  </div>
  <div class="flex justify-center search">
    <input type="text" name="search" class="w-11/12 p-1 border-2 rounded-2xl" placeholder="Search..." id="">
  </div>
</div>
